<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="hpindex.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horizontal parallax</title>
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <div class="slide">
                <div class="layer back"></div>
                <div class="layer mid"></div>
                <div class="layer top">
                    <a href="#hi">SILHOUETTE
                        <span>SCYLINE</span>
                    </a>
                </div>
            </div>
            <div class="slide" id="hi">
                
            </div>
           <!--  <div class="slide">
                
            </div> -->
        </div>
    </div>

    <script type="text/javascript">
        let cont = document.querySelector('.container');
        let layer = document.querySelectorAll('.layer');

        cont.onscroll = function(){
            let X = cont.scrollTop;

            layer[0].style.left = X/10 + 'px';
            layer[1].style.left = X/20 + 'px';
        }
    </script>
</body>
</html>