<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="index.css">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>About me</title>
</head>
<body>
    <div class="card">
        <div class="imgMe">
            <img src="me.png" alt="its a me mario"> 


        </div>  

        <div class="contentCard"> 
            <div class="details">
                <h1>Ипполитов Сергей<br>
                    <span>Python Junior Developer</span>
                </h1>
                <div class="data">
                    <!-- тут лучше краткую инфу о себе -->
                    <h3>Дата рождения: <span>1995-07-28</span></h3>
                    <h3>Телефон: <span>8(926) 400 70 43</span></h3>
                    <h3>e-mail: <span>seripp28@gmail.com</span></h3>
                    <h3>TO DO: <span>написать более презентабельно</span></h3>
                    <!-- checking conection -->
                </div>

                
                

            </div>
        </div>
        
    </div>
    
</body>
</html>

