<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="index.css">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>About me</title>
</head>
<body>
    <div class="card">
        <div class="imgMe">
            <img src="me.png" alt="its a me mario"> 
        </div>  
        <h1> Ипполитов Сергей</h1>

    </div>
    
</body>
</html>

