@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');



*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ccc;
}

.card{
    position: relative;
    width: 350px;
    height: 190px;
    background: #888;
    border-radius: 50px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.2);
    transition: 1s;
}
.card:hover
{
    height: 450px;
    background:  #aaa;
}

.imgMe
{
    position: absolute;

    left:50%;
    transform: translateX(-50%) translateY(-50%) ;
    width:264px;
    height: 225px;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.5s;
}

.imgMe img
{   
   position: relative;
    
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.imgMe:hover
{
    width:528px;
    height: 450px;
    border-radius: 20%;
}
