

<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/main.css' %}">
    
</head>
<body>
    <a href="/"><h2>Home</h2></a>
    <a href="/random"><h2>Random room</h2></a>
    
    <form method="GET"  action="{% url 'home' %}">
        <input type="text" name="q" placeholder="Search rooms...">
    </form>
    
    {% if request.user.is_authenticated %}
    <img src="{%static 'images/logo-git.png' %}" width="50vw" height="50vh" >
    <h4><a href="{% url 'user-profile' request.user.id %}">@{{request.user.username}}</h4>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
    <hr width="80%">
    {% block content %}

    {% endblock %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>