<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="pindex.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pralax test</title>
</head>
<body>
    <div class="parallax_wrapper">
        <div class="parallax_group intro_screen" id="intro">
            My parallax!! А это русский
        </div>

        <div class="parallax_group" id="group-1">
            <div class="parallax_layer base_layer">
                Awesome base
            </div>
            <div class="parallax_layer mid_layer">
                Nice mid
            </div>
        </div>
        <div class="parallax_group" id="group-2">
            <div class="parallax_layer mid_layer">
                Nice mid
            </div>
            <div class="parallax_layer top_layer">
                Ok top
            </div>
        </div>

        <div class="parallax_group outro_screen" id="outro">
            De And
        </div> 
    </div>
</body>
</html> 